.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    border-radius: 5px;
    margin: 0px 15px;
    background-color:honeydew;
}
    
.text-container p{
    text-align: justify;
}

.text-container .btn{
    background-color: lightsalmon;
    border: 1px solid lightyellow;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0px;
    color:whitesmoke;
}

.image-container img{
    border-radius: 10px;
}

.customer-review .review-btn{
    background-color: lightcoral;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0px;
    color:whitesmoke;
}

