.nav-section {
    text-align: right;
    margin-left: 15px;
    margin-right: 15px;
    background-color: honeydew;
    padding: 15px;
}
.nav-section a{
    text-decoration: none;
    margin: 0px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
    
}

.nav-section a:hover{
    color:coral;
}